#title{
	width: 200px;
}
#note{
	width: 200px;
}
#map{
	 width: 100%; 
	 height: 350px;
	 border:1px solid #777777;
}
a:hover {
	border-bottom-style:none;
}
.leftmenulist {
	border:medium none;
	font-weight:bold;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:10px;;
}