h2.groupheader_h2 {
	font-size: 120%;
	color: #333;
	margin: 0 0 0 0;
	margin-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	border-bottom:1px dotted #CCCCCC;
	text-align:left;
}
h2.groupfooter_h2 {
	font-size: 100%;
	text-align:right;
	color: #333;
	margin: 0 0 0 0;
	margin-bottom:5px;
	padding-top:5px;
	margin-left:10px;
	margin-right:10px;
	border-top:1px dotted #CCCCCC;
}
.maingroupbox{
	margin-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border:1px solid #777777;
}
