<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src= "index.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
<div class="panel panel-default">
  <!-- Panel header -->
  <div class="panel-heading"> <h3 class="panel-title"><b>MD Radio List</b> - Search: <input ng-model="query"/></h3></div>
  <!-- Panel contents -->  
	<div class="panel-body">
	<table class="table table-hover">
	  <tr>
	    <th>Name</th>
	    <th>Web</th>
	    <th>Control</th>    
	  </tr>
		<tr id="row_{{x.id}}" ng-repeat="x in names | filter:query">
			<td>{{ x.name }}</td>
			<td><a href="{{ x.url }}">{{ x.url }}</a></td>
			<td>
			<audio id="aud_{{x.id}}" preload="none">
			 <source id="audsrc_{{x.id}}" src="{{ x.stream_url | trustUrl}}" type="audio/mpeg"></source>
			</audio>
			<button id="audplaybtn" type="button" class="btn btn-default btn-sm" ng-click="play(x,names.length)">
	  		<span id="audplayspn_{{x.id}}" class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
			</td>			
		</tr>
	</table>
	</div>
	<div class="panel-footer">Lista luată de <a href="http://cca.md/files/Registrul%20Radio%20Etalon.pdf" target="_blank">aici</a></div>
</div>
</div>
</body>
</html>
