<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
<div class="panel panel-default">
  <!-- Panel header -->
  <div class="panel-heading"> <h3 class="panel-title"><b>MD Radio List</b> - Search: <input ng-model="query"/></h3></div>
  <!-- Panel contents -->  
	<div class="panel-body">
	<table class="table table-hover">
	  <tr>
	    <th>Name</th>
	    <th>Web</th>
	    <th>Control</th>    
	  </tr>
		<tr id="row_{{x.id}}" ng-repeat="x in names | filter:query">
			<td>{{ x.name }}</td>
			<td><a href="{{ x.url }}">{{ x.url }}</a></td>
			<td>
			<audio id="aud_{{x.id}}" preload="none">
			 <source id="audsrc_{{x.id}}" src="{{ x.stream_url | trustUrl}}" type="audio/mpeg"></source>
			</audio>
			<button id="audplaybtn" type="button" class="btn btn-default btn-sm" ng-click="play(x,names.length)">
	  		<span id="audplayspn_{{x.id}}" class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
			</td>			
		</tr>
	</table>
	</div>
	<div class="panel-footer">Lista luată de <a href="http://cca.md/files/Registrul%20Radio%20Etalon_0.pdf">aici</a></div>
</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http, $sce) {
    $http.get("https://fm.casata.md/fm.php").success(function (response) {$scope.names = response;});
    
    $scope.play = function(x,l) {
    	 console.log(l);
        var aud = document.getElementById("aud_"+x.id);
        var audsrc = document.getElementById("audsrc_"+x.id);
        var audspn = document.getElementById("audplayspn_"+x.id);
        var rowid = document.getElementById("row_"+x.id);

        if (aud.paused) {

            $scope.names.forEach(function(entry) {
            	if (document.getElementById("aud_"+entry.id) !== null) {
            		document.getElementById("aud_"+entry.id).src="";
            		document.getElementById("row_"+entry.id).className="";
            		document.getElementById("audplayspn_"+entry.id).className="glyphicon glyphicon-play";
            	}
            });        	
        	
         aud.src=x.stream_url;
         aud.play();
         rowid.className ="warning";
         audspn.className="glyphicon glyphicon-pause";
         aud.onprogress = function() {
         };         
         aud.onplaying = function() {
        	 rowid.className ="success";
         };
         aud.onerror = function() {
        	 rowid.className ="";
         };                  
        } else {
            aud.pause();
            aud.preload="none";
            audspn.className="glyphicon glyphicon-play";
            rowid.className ="warning";
            aud.src = '';
            aud.onpause = function() {
            	rowid.className ="";
            };            
        }
    }
});


app.filter("trustUrl", ['$sce', function ($sce) {
	return function (recordingUrl) {
	return $sce.trustAsResourceUrl(recordingUrl);
	};
	}]);
app.directive('plaything', function() {
	   return {
	       restrict: 'A',
	       link: function(scope, elem, attr, ctrl) {
	            elem.bind('onprogress1', function(e) {
	                /* do something here */
	                window.alert('test');
	            });
	            elem.bind('onloadstart', function(e) {
	                /* do something here */
	                window.alert('test');
	            });
	            elem.bind('onclick', function(e) {
	                /* do something here */
	                window.alert('test');
	            });
	       }
	   };
	});
app.directive('fmplayer', function($sce) {
	  return {
		replace: 'true',
		template: function(elem,attrs) {return '<audio controls><source data-ng-src="'+$sce.trustAsResourceUrl(attrs.testparam)+'" type="audio/mpeg"></audio>'}
		}
	});
app.directive('h1test', function($sce) {
	  return {
		replace: 'true',
		template: function(elem,attrs) {return '<h1>Test H1 '+attrs.testparam+'</h1>'},
	    link: function(scope,elem,attrs){
	      elem.bind('click',function(){
	        elem.css('background-color','red');
	        scope.$apply(function(){
	          scope.color="red";
	          console.log('test');
	          console.log(attrs.testparam);
	          console.log(scope.trusted(attrs.testparam));
	        });
	      });
	      elem.bind('mouseover',function(){
	        elem.css('cursor','pointer');
	      });
	    }			
	  };
	}); 
</script>

</body>
</html>
