<div class="panel panel-default">
  <!-- Panel header -->
  <div class="panel-heading"> <h3 class="panel-title"><b>MD Radio List</b> - Search: <input ng-model="query"/></h3></div>
  <!-- Panel contents -->  
	<div class="panel-body">
	<table class="table table-hover">
	  <tr>
	    <th>Name</th>
	    <th>Web</th>
		<th>Share</th>
	    <th>Control</th>    
	  </tr>
		<tr id="row_{{x.id}}" ng-repeat="x in names | filter:query">
			<td>{{ x.name }}</td>
			<td><a href="{{ x.url }}">{{ x.url }}</a></td>
			<td><a href="play/{{ x.id }}">{{ x.url }}</a></td>
			<td>
			<audio id="aud_{{x.id}}" preload="none">
			 <source id="audsrc_{{x.id}}" src="{{ x.stream_url | trustUrl}}" type="audio/mpeg"></source>
			</audio>
			<button id="audplaybtn" type="button" class="btn btn-default btn-sm" ng-click="play(x,names.length)">
	  		<span id="audplayspn_{{x.id}}" class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
			</td>			
		</tr>
	</table>
	</div>
	<div class="panel-footer">Ordinea luată de <a href="http://cca.md/files/Registrul%20Radio%20Etalon_0.pdf">aici</a></div>
</div>