.form_row label{
	width: 150px;
	display:block;
	float:left;
	vertical-align: middle;
}
.form_row .input{
	width: 50px;
	text-align:right;
	vertical-align: middle;
}
.form_row .select{
	width: 200px;
}

.form_row_link{
	padding-left: 100px;
}
#formcontrols{
	padding-top: 0px;
	width: 900px;
	margin: auto;
	height: 350px;
}
#caracgeneral{
	display: inline;
	width: 327px;
	height: 130px;
	vertical-align: top;
	padding-left: 9px;
}
/*TipImobil Tab begin*/
#fieldset-tipanunt {
	padding-top: 50px;
	padding-bottom: 50px;
	height: 250px;
}
#fieldset-tipanunt .form_row{
	padding-left: 150px;
}
#scop_id{
	width: 250px;
}
#tipimobil_id{
	width: 250px;
}
/*TipImobil Tab end*/

/*Detalii Tab begin*/
#subtipimobil_id{
	width: 170px;
}
#aria_totala{
	width: 50px;
	vertical-align: middle;
	text-align:right;
}
#aria_locuibila{
	width: 50px;
	vertical-align: middle;
	text-align:right;
}
#aria_lot{
	width: 50px;
	vertical-align: middle;
	text-align:right;
}
#etaj{
	width: 50px;
	vertical-align: middle;
	text-align:right;
	margin-right: 6px;
}
#totaletaje{
	width: 50px;
	vertical-align: middle;
	text-align:right;
	margin-left: 6px;
}
#balcoane{
	width: 50px;
	vertical-align: middle;
	text-align:right;
}
#pret{
	width: 50px;
	vertical-align: middle;
	text-align:right;
}
#valuta_id{
	width: 52px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 1px;
	margin-right: 2px;
}
#bonitate{
	width: 50px;
	vertical-align: middle;
	text-align:right;
}
#caracteh{
	display: inline;
	width: 326px;
	height: 130px;
	margin-left: 8px;
	vertical-align: top;
	padding-left: 9px;
}
#masura_id{
	width: 52px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 2px;
}
#aria_masura_id{
	width: 50px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 2px;
}
#an{
	width: 54px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 2px;
}
#model_id{
	width: 150px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 2px;
}
#tipconstructie_id{
	width: 150px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 2px;
}
#stare_id{
	width: 150px;
	vertical-align: middle;
	padding: 1px;
	border:1px solid #777777;
	margin-left: 2px;
}
#note{
	width: 665px;
	height: 62px;
	padding: 4px;
}
/*Detalii Tab end*/

/*Cerere Imobil Apartament Detalii begin*/
#preferinte-detalii{
	display: inline;
	width: 327px;
	height: 120px;
	vertical-align: top;
	padding-left: 9px;
}
#preferinte-detalii1 select{
	width: 170px;;
}
#preferinte-detalii-note{
	display: inline;
	width: 327px;
	height: 120px;
	vertical-align: top;
	margin-left: 8px;
	padding-left: 9px;
}
#preferinte-detalii-note textarea{
	width: 310px;
	height: 84px;
	padding: 4px;
}
#preferinte-detalii-addresa{
	display: inline;
	width: 327px;
	height: 120px;
	vertical-align: top;
	padding-left: 9px;
}
#preferinte-detalii-addresa select{
	width: 170px;;
}
#preferinte-detalii-addresa-note{
	display: inline;
	width: 327px;
	height: 120px;
	vertical-align: top;
	margin-left: 8px;
	padding-left: 9px;
}
#preferinte-detalii-addresa-note textarea{
	width: 310px;
	height: 84px;
	padding: 4px;
}

/*Cerere Imobil Apartament Detalii end*/
/*Adresa tab begin*/
	#fieldset-adresa .form_row{
		padding-left: 10px;
	} 
	
	#fieldset-notes{
		height: 100px;
	}
	#fieldset-notes  .form_row{
		padding-left: 10px;
	}
/*Adresa tab end*/
/*Map tab begin*/
#map{
	 width: 100%; 
	 height: 350px;
	 border:1px solid #777777;
}
/*Map tab end*/

/*Files tab begin*/
#fieldset-files{
	height:250px;
	padding-bottom:50px;
	padding-top:50px;
}
#fieldset-files .form_row{
	font-weight: bold;
	text-align: center;
}
#msg{
	padding-bottom: 40px;
}

/*Files tab end*/
/*Contacts tab begin*/
/*
	#fieldset-contacts .form_row{
		padding-left: 10px;
		vertical-align: middle;
	}
	#fieldset-contacts .form_row .input{
		width: 200px;
		text-align: left;
	} 

	#fieldset-contacts-notes{
		height: 100px;
	}
	#fieldset-contacts-notes .form_row{
		padding-left: 10px;
	}
	#fieldset-contacts-notes .form_row .input{
		width: 150px;
		text-align: left;
	}
	#fieldset-contacts-validator .form_row{
		padding-left: 10px;
	}
	#fieldset-contacts-validator .form_row .input{
		width: 100px;
		text-align: left;
	}
*/
#name{
	width: 150px;
}
#url{
	width: 150px;
}
#phone{
	width: 150px;
}
#mobile{
	width: 150px;
}
#email{
	width: 150px;
}
#notecontact{
	width: 665px;
	height: 62px;
	padding: 4px;
}
#validationcode{
	vertical-align: middle;
}
/*Contacts tab end*/
#lbl{
	direction: ttb;
}
#validationimage{
	vertical-align: middle;
}
#validationcode{
	width: 90px;
}
#form_row_button{
	padding-left: 100px;
}
/*Imobil view*/
#property-view-title{
	font-size: large;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: center;
}
#fieldset-details-view{

}
#2fieldset-details-general-view{
	display: inline;
	width: 351px;
	height: auto;
	vertical-align: top;
	padding-left: 9px;
}
#2fieldset-details-general-view dt{
	width: 150px;
}
#2fieldset-details-general-view dd{
	width: 150px;
}
#2fieldset-details-tehnic-view{
	display: inline;
	width: 351px;
	height: auto;
	margin-left: 8px;
	vertical-align: top;
	padding-left: 9px;
}
#2fieldset-details-tehnic-view dt{
	width: 150px;
}
#2fieldset-details-tehnic-view dd{
	width: 150px;
}
#2fieldset-details-pret-view{
	display: inline;
	width: 351px;
	height: 65px;
	vertical-align: top;
	padding-left: 9px;
}
#2fieldset-details-pret-view dt{
	width: 150px;
}
#2fieldset-details-pret-view dd{
	width: 150px;
}
#2fieldset-details-altele-view{
	display: inline;
	width: 351px;
	height: 65px;
	margin-left: 8px;
	vertical-align: top;
	padding-left: 9px;
}
#2fieldset-details-altele-view dt{
	width: 150px;
}
#2fieldset-details-altele-view dd{
	width: 100px;
}
#fieldset-details-notes-view{
	margin-bottom: 10px;
}
#2fieldset-details-notes-view dd{
	width:700px;
	height:65px;
}
#fieldset-address-view{
	margin-bottom: 10px;
}
#2fieldset-address-view dl{
	display: inline;
}
#2fieldset-address-view dt{
	width:150px;
}
#2fieldset-address-view dd{
	width: 150px;
}
#fieldset-address-notes-view{
	margin-bottom: 10px;
}
#2fieldset-address-notes-view dd{
	width:700px;
	height:65px;
}
#fieldset-maps-view{
	margin-bottom: 10px;
}
#fieldset-files-view{
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
#fieldset-contacts-view{
	margin-bottom: 10px;
}
#2fieldset-contacts-view dt{
	width:160px;
}
#2fieldset-contacts-view dd{
	width: 250px;
}
#fieldset-contacts-notes-view{
	margin-bottom: 10px;
}
#2fieldset-contacts-notes-view dd{
	width:700px;
	height:65px;
}
.property-table{
	width: 100%;	
}



